<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Img-Project</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Danh sách vật thể" nzIcon="dashboard">
        <ul>
          <li nz-submenu nzOpen nzTitle="Hình ảnh">
            <ul>
              <li
                nz-menu-item
                nzMatchRouter
                class="liItem"
                (click)="createShape('square')"
              >
                <a>Image</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                class="liItem"
                (click)="createShape('circle')"
              >
                <a>Circle</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                class="liItem"
                (click)="createShape('rounded')"
              >
                <a>Rounded</a>
              </li>

              <li
                nz-menu-item
                nzMatchRouter
                class="liItem"
                (click)="deleteShape()"
                *ngIf="currentShape"
              >
                <a>Delete</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content ,example-boundary">
        <router-outlet>
          <div
            class="shape"
            *ngFor="let shape of shapes; index as i"
            [ngStyle]="shape.style"
            cdkDrag
            cdkDragBoundary=".inner-content"
            [cdkDragData]="shape"
            [attr.data-hover-effect]="
              shape === currentShape ? shape.hoverEffect : 'none'
            "
            (click)="onShapeClick(shape)"
            (mouseover)="isHovered = true"
            (mouseout)="isHovered = false"
            [ngClass]="shape.hoverEffect"
            (cdkDragStarted)="onDragStart(shape)"
            (cdkDragEnded)="onDragEnd(shape, $event)"
          ></div>
        </router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Thiết lập vật thể</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Hiệu ứng khi rê chuột" nzIcon="dashboard">
        <ul>
          <li
            nz-menu-item
            nzMatchRouter
            class="liItem"
            (click)="setHoverEffect('none')"
          >
            <a>Mặc định</a>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            class="liItem text"
            (click)="setHoverEffect('zoom')"
          >
            <a>Phóng to</a>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            class="liItem"
            (click)="setHoverEffect('blur')"
          >
            <a>Làm mờ</a>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            class="liItem"
            (click)="setHoverEffect('shadow')"
          >
            <a>Tạo bóng</a>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            class="liItem"
            (click)="setHoverEffect('slide')"
          >
            <a>Trượt lên</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
